<mat-toolbar class="navBar">
    <button mat-icon-button class="example-icon" (click)="back()" aria-label="Example icon-button with menu icon">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
  <span>Volver</span>
</mat-toolbar>
<mat-sidenav-container class="sideContainer">
    <mat-sidenav mode="side" opened class="sideNav">
        <mat-nav-list>
            <div mat-subheader class="opcionMenu">Menú</div>
            <mat-list-item (click)="switchPag(0)">
              <div mat-line class="opcionMenu">Perfil</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="switchPag(1)">
                <div mat-line class="opcionMenu">Fotos</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="switchPag(2)">
                <div mat-line class="opcionMenu">Citas</div>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="switchPag(3)">
                <div mat-line class="opcionMenu">Reseñas</div>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="sideContent">
            <div *ngIf="opcion == 0">
                <app-peluquero-info [peluquero]="peluquero"></app-peluquero-info>
            </div>
            <div *ngIf="opcion == 1">
                <app-peluquero-fotos [peluquero]="peluquero"></app-peluquero-fotos>
            </div>
            <div *ngIf="opcion == 2">
                <app-peluquero-citas [peluquero]="peluquero"></app-peluquero-citas>
            </div>
            <div *ngIf="opcion == 3">
                <app-peluquero-resenas [peluquero]="peluquero"></app-peluquero-resenas>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>